# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.p~


# Virtual environment
venv/
env/
ENV/
.venv/
.ENV/
.Python
pip-log.txt
pip-delete-this-directory.txt


# Django-specific
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# VSCode
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# PyCharm
.idea/

# Migrations
**/migrations/**/__pycache__/
**/migrations/*.py[cod]
**/migrations/*.py
!**/migrations/__init__.py

# Test and coverage
htmlcov/
.coverage
.tox/
.nox/
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# Compiled C files
*.so
