{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/change_password.css' %}">
{% endblock %}

{% block content %}
<div class="change-password-container">
    <h2 class="form-title">Change Password</h2>

    {% if messages %}
        {% for message in messages %}
            <div class="alert-message">{{ message }}</div>
        {% endfor %}
    {% endif %}

    <form method="post" class="password-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn-submit">Update Password</button>
    </form>
</div>
{% endblock %}
