{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Alumni Tracking and Engagement Management System</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body style="background: radial-gradient(circle, #5b1780, #000000); color: white;">

  <div class="login-box">
    <img src="{% static 'img/ccs_logo.png' %}" alt="CCS Logo" class="logo-img">
    <h1>DEPARTMENT OF COMPUTER STUDIES</h1>
    <p>ALUMNI TRACKING AND ENGAGEMENT MANAGEMENT SYSTEM</p>

    {% if error %}
      <div class="error-message">{{ error }}</div>
    {% endif %}

    <form class="login-form" method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="username" class="form-label">USERNAME:</label>
        <input type="text" id="username" name="username" class="form-input" required>
      </div>

      <div class="form-group">
        <label for="password" class="form-label">PASSWORD:</label>
        <input type="password" id="password" name="password" class="form-input" required>
      </div>

      <div class="form-group-buttons">
        <button type="submit" class="register-admin">REGISTER AS ADMIN</button>
        <button type="submit" class="login-button">LOGIN</button>
        <p><a href="{% url 'admin_register' %}">Register as an Admin</a></p>

      </div>
    </form>
  </div>

</body>
</html>
