/* login form */
* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 30px;
    border: 3px solid #5b1780;
    box-shadow: 0 8px 32px rgba(105, 9, 102, 0.16);
    padding: 5px 20px 30px;
    width: 90%;
    max-width: 570px;
    text-align: center;
    position: relative;
}

.login-box img {
    width: 125px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.login-box h1 {
    margin: 70px 0 5px;
    color: #5b1780;
    font-size: 1.6rem;
    font-weight: bold;
}

.login-box h3 {
    margin: 5px 0 30px;
    color: #5b1780;
    font-size: 0.9rem;
    letter-spacing: 0.5px;
}

.login-form {
    margin-top: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.form-label {
    font-weight: bold;
    color: #5b1780;
    font-size: 0.9rem;
    width: 100px;
    text-align: right;
    margin-right: 10px;
}

.form-input {
    width: 250px;
    padding: 8px;
    border: 2px solid #5b1780;
    border-radius: 30px;
    font-size: 0.9rem;
}

.form-group-buttons {
    display: flex;
    min-width: 190px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login-button,
.login-admin {
    background-color: #5b1780;
    width: 100%;
    min-width: 100px;
    color: white;
    border: none;
    padding: 13px 30px;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
    font-weight: bold;
}

.login-button:hover,
.login-admin:hover {
    background-color: #044a19;
}

.error-message {
color: red;
margin-bottom: 15px;
font-size: 0.9rem;
}

@media (max-width: 425px) {
.form-group {
    flex-direction: column;
    align-items: flex-start;
}

.form-label {
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
}

.form-group-buttons {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.login-button,
.login-admin {
    max-width: 250px;
    width: 100%;
    margin-bottom: 10px;
}
}

