/* homepage */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #ffffff;
  color: #5b1780;
  padding: 2rem;
}

.container {
  max-width: 1200px;
  margin: auto;
  margin-top: 70px;
}

.header {
  background-color: #ffffff;
  border: 3px solid #5b1780;
  border-radius: 20px;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.header h1 {
  font-size: 2.5rem;
  font-weight: 700;
}

.header p {
  margin-top: 0.3rem;
  font-size: 1rem;
  letter-spacing: 2px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  align-items: center;
  margin-top: 2rem;
  flex-wrap: wrap;
  position: sticky;
  top: 10px;
  z-index: 1;
}

.search-box {
  flex-grow: 1;
  margin-right: 1rem;
  position: relative;
}

.search-box input {
  width: 100%;
  padding: 0.5rem 1rem;
  border: 3px solid #5b1780;
  border-radius: 30px;
  outline: none;
  font-size: 1rem;
}

.nav-buttons button {
  background: #5b1780;
  border: 3px solid transparent;
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 30px;
  font-weight: 600;
  margin: 0.3rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-buttons button:hover {
  background-color: white;
  border: 3px solid #5b1780;
  color: #5b1780;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  gap: 2rem;
}

.card {
  background-color: white;
  border: 3px solid #5b1780;
  border-radius: 20px;
  text-align: center;
  padding: 1rem 1rem;
  min-width: 90px;
  box-shadow: 0 8px 32px rgba(105, 9, 102, 0.16);
  transition: transform 0.3s ease;
  margin-top: 30px;
}

.card:hover {
  transform: scale(1.03);
  background-color: #5b1780;
  color: white;
  
}

.card img {
  width: 120px;
  height: auto;
  margin-bottom: 0.5rem;
}

.card h3 {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.9rem;
  color: #5b1780;
}

.card:hover p {
  color: white;
}
  
@media  (max-width: 425px) {
  .cards {
    display: flex;
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .header {
    font-size: 16px;
  }
  .header h1 {
    font-size: 1.5rem;
  }

  .quick-stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 3rem;
    justify-content: center;
  }
  
  .stat {
    background-color: white;
    border: 3px solid #5b1780;
    border-radius: 20px;
    padding: 1.5rem;
    text-align: center;
    min-width: 150px;
    box-shadow: 0 8px 32px rgba(105, 9, 102, 0.16);
    transition: transform 0.3s ease;
  }
  
  .stat h2 {
    font-size: 2rem;
    font-weight: bold;
    color: #5b1780;
  }
  
  .stat p {
    font-size: 1rem;
    color: #5b1780;
  }
  
  .stat:hover {
    background-color: #5b1780;
    color: white;
  }
  
  .stat:hover h2,
  .stat:hover p {
    color: white;
  }
  
  
}