.info-row {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.label, .value {
  min-width: 100px;
}

.event-box {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
  border-radius: 20px;
  padding: 20px 25px;
  margin-top: 15px;
  margin-bottom: 30px;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.event-box:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 25px rgba(235, 206, 241, 0.3);
}

.event-box h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.event-box p {
  font-size: 14px;
  margin: 5px 0;
}

.view-button {
  display: inline-block;
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 14px;
  background-color: white;
  color: #5b1780;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.view-button:hover {
  background-color: #a34fff;
  color: white;
  transform: scale(1.03);
}

.item-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #2a003f;
  margin: 10% auto;
  padding: 30px;
  border: 2px solid white;
  width: 60%;
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: white;
}