/* ==== Updates Section ==== */
.update-box {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 20px 25px;
  margin-bottom: 30px;
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.update-box:hover {
  transform: scale(1.02);
  box-shadow: 0 8px 25px rgba(235, 206, 241, 0.3);
}

.update-title {
  font-size: 22px;
  margin-bottom: 15px;
  color: #ffffff;
  font-weight: 600;
}

.update-desc {
  font-size: 16px;
  color: #eaeaea;
  margin-bottom: 10px;
}

.update-date {
  font-size: 13px;
  color: #ccc;
}



/* ==== Right Panel: Timeline Style ==== */
.quick-stats {
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.timeline-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: white;
  font-weight: 600;
}

.quick-stats ul {
  list-style: none;
  padding-left: 0;
}

.quick-stats li {
  margin-bottom: 10px;
  font-size: 15px;
  color: white;
}

.quick-stats li strong {
  color: white;
}


.updates-section {
  width: 100%;
}



.modal {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

.modal-content {
  background-color: #2a003f;
  margin: 10% auto;
  padding: 30px;
  border: 2px solid white;
  width: 60%;
  color: white;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.1);
}

.close {
  color: #aaa;
  float: right;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: white;
} 


.top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    
}

.filter-form {
    display: flex;
    margin-left: auto;
  
}